*  {
   font-size: 12pt; font-family: verdana;   
}

h1 {
   font-size: 18pt;  
}

#MediumFont  {
  background-color: orange;   
}

#bar {
  text-align: right;  border: solid 1px ; padding: 5px; margin-bottom: 10px;  
}

#menu  {
  background-color: Green; width: 29%;  float: left; 
}

#PostContent  {
padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}