html,


.fondocalendario{
                background: url(../imagenes/CALE.PNG) no-repeat;
                background-attachment: fixed;
                background-size: cover; 
                font-family: 'Open Sans', sans-serif;
            }
.texto1{
     -webkit-text-fill-color:green;
-webkit-text-stroke: 4px white ;
	font: bold 220%/100%  Kristen ITC, Sans-Serif;
}