html,

.fondociudad{
                background: url(../imagenes/ca.PNG) no-repeat;
                background-attachment: fixed;
                background-size: cover; 
                font-family: 'Open Sans', sans-serif;
            }
.texto1{
     -webkit-text-fill-color:white;
-webkit-text-stroke: 3px black ;
	font: bold 200%/100%  Kristen ITC, Sans-Serif;
}