html,


.fondotercero{
                background: url(../imagenes/siiko.jpg) no-repeat;
                background-attachment: fixed;
                background-size: cover; 
                font-family: 'Open Sans', sans-serif;
            }
