html,

.fondopartescasa{
                background: url(../imagenes/partesita.PNG) no-repeat;
                background-attachment: fixed;
                background-size: cover; 
                font-family: 'Open Sans', sans-serif;
            }
.texto1{
     -webkit-text-fill-color:white;
-webkit-text-stroke: 3px  green;
	font: bold 220%/100%  Kristen ITC, Sans-Serif;
}
